.husot-thumbOverlay {
    display: none;
    position: absolute;
    top: 1rem !important;
    right: 1rem !important;
    bottom: auto !important;
    left: auto !important;
    color: #fff;
    background-color: rgba(0, 0, 0, .6);
    padding: 0 5px;
    border-radius: 2px;
    font: 12px "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 18px;
    width: auto !important;
    min-height: auto !important;
}

.husot-thumbOverlay a {
    color: #fff !important;
    text-decoration: none !important;
}

.husot-thumbOverlay a:hover {
    color: #fff !important;
    text-decoration: underline !important;
}

.husot-thumbOverlay-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.husot-thumbOverlay-menu li {
    display: inline;
}

.husot-thumbOverlay-menu-separator {
    display: inline;
}
